asttokens==3.0.0
torch-cluster==1.6.3+pt21cu118
pathos==0.3.4
entrypoints==0.4
Markdown==3.8.2
networkx==3.2.1
easy-parallel==0.1.6
ipython==8.18.1
idna==3.10
scipy==1.13.1
torch-scatter==2.1.2+pt21cu118
pyzmq==26.2.0
tornado==6.1
filelock==3.18.0
argparse==1.4.0
PyYAML==6.0.2
contourpy==1.3.0
setproctitle==1.3.6
absl-py==2.3.0
Werkzeug==3.1.3
wandb==0.18.2
openbabel-wheel==3.1.1.20
dill==0.4.0
GitPython==3.1.44
tensorboard==2.18.0
click==8.1.8
blosc2==2.5.1
pure_eval==0.2.3
freesasa==2.2.1
stack_data==0.6.3
rdkit-pypi==2022.9.5
jedi==0.19.2
requests==2.32.4
matplotlib-inline==0.1.7
kiwisolver==1.4.7
scikit-learn==1.6.1
triton==2.1.0
importlib_metadata==8.7.0
gitdb==4.0.12
certifi==2025.6.15
MarkupSafe==3.0.2
tables==3.9.2
torch==2.1.1+cu118
seaborn==0.13.2
debugpy==1.8.11
pyrr==0.10.3
biotite==0.40.0
parso==0.8.4
comm==0.2.2
fsspec==2025.5.1
ndindex==1.10.0
narwhals==1.43.1
grpcio==1.73.0
multipledispatch==1.0.0
pip==25.1
mpmath==1.3.0
numexpr==2.10.2
ptyprocess==0.7.0
tensorboard-data-server==0.7.2
orjson==3.10.18
plotly==6.1.2
exceptiongroup==1.3.0
jupyter-client==7.3.4
pillow==11.2.1
ipykernel==6.29.5
psutil==5.9.1
psutil==7.0.0
ppft==1.7.7
multiprocess==0.70.18
docker-pycreds==0.4.0
wcwidth==0.2.13
mkl_random==1.2.8
numba==0.60.0
zipp==3.23.0
importlib_resources==6.5.2
typing_extensions==4.14.0
protobuf==5.29.5
atom3d==0.2.6
numpy==1.26.4
decorator==5.2.1
urllib3==2.5.0
python-dateutil==2.9.0.post0
pexpect==4.9.0
packaging==25.0
matplotlib==3.9.4
python-dotenv==1.1.0
charset-normalizer==3.4.2
wheel==0.45.1
pickleshare==0.7.5
prompt_toolkit==3.0.51
pandas==2.3.0
biopython==1.84
lmdb==1.6.2
tqdm==4.67.1
pyparsing==3.2.3
traitlets==5.14.3
pynndescent==0.5.13
setuptools==78.1.1
llvmlite==0.43.0
fonttools==4.58.4
mkl-service==2.4.0
mkl_fft==1.3.11
platformdirs==4.3.8
umap-learn==0.5.7
executing==2.2.0
nest_asyncio==1.6.0
threadpoolctl==3.6.0
opt-einsum-fx==0.1.4
jupyter_core==5.8.1
pytz==2025.2
tzdata==2025.2
sympy==1.14.0
py-cpuinfo==9.0.0
six==1.17.0
smmap==5.0.2
cycler==0.12.1
e3nn==0.5.1
pox==0.3.6
sentry-sdk==2.30.0
Jinja2==3.1.6
Pygments==2.19.2
opt_einsum==3.4.0
h5py==3.14.0
msgpack==1.1.1
joblib==1.5.1
